extends welcome

block content
    p Hi #{name},
    p Forgot your passsword? Submit your Patch request along with your new password and confirmPassword to this url: #{url}.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p If you dont want to reset your password please ignore this message!! 